priority -50

snippet img "Insert an image"
\begin{figure}[h]
    \centering
    \includegraphics[scale=0.5]{${1:path}}
    \caption{${2:A caption}}
    \label{fig:${3:a-label}}
\end{figure}
endsnippet

